@import 'colors';

.logo {
    width: 150px;
}
main {
    margin-bottom: 2rem;
}
.blog-footer {
    padding: 2.5rem 0;
    color: $text-color;
    text-align: center;
    background-color: $background-color;
    border-top: .05rem solid $border-color;
  }
  .about{
      .body{
        padding: 0.3rem 0.3rem 0.3rem 0.6rem;
      }
      .row {
        img {
          width: 10rem;
        }
        .text {
          text-align: center;
          justify-content: center;
          text-align: left;
          font-style: italic;
        }
      }
  }
  .about-text {
      color: $text-color;
      text-align: left;
      font-style: italic;
  }
  .details {
      img{
        width: 100%;
        height: 200px;
        filter: blur(.6);
        filter: segapia(.9);
        filter: brightness(.3);
      }
      .card-title{
        text-align: center;
      }
      .card-title:hover {
        transform: scale(1.2);
        filter: brightness(1.2);
      }
  }
.autor {
  .autor-img {
    width: 2rem;
    height: 6rem;
  }
}

.principal {
  
  img {
    height: 10rem;
    width: 100%;
  }
}